<div>
    <app-search (searchTextChanged)="onSearchProduct($event)"></app-search>
    <app-filter [total]="totalProductCount" [apple]="appleCount" [samsung]="sunsumgCount" (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"></app-filter>
</div>
<ng-container *ngFor="let item of products; let i =index">
    <!-- <div *ngIf="productcountRadioButton === 'All' || productcountRadioButton === item.brand "> -->
        <div *ngIf="searchedProduct === '' || item.title.toLowerCase().includes(searchedProduct) ">
    <div class="product-container" [ngStyle]="{backgroundColor: 0 === i % 2 ? '#A9A9A9' : '#878787'}">
        <div class="image-container"><div *ngFor="let image of item.images">
            <img [src]="image" alt="" style="max-height: 50px; max-width: 50px;">
        </div>
        </div>
        <div>
            <div class="name-container"><h6>{{item.title}}</h6></div>
            <div class="detail-container">
                <div class="details">{{item.description}}</div>
                <div class="details"><b>Price: $</b>{{item.price}}</div>
                <div class="details" [ngStyle]="{color: item.brand ==='Apple' ? 'Green' : 'Red'}">{{item.brand}}</div>
                <div class="details">{{item.category}}</div>

            </div>
        </div>
        <div class="options">
            <button class="btn btn-success" (click)="showDetails(item)">Show Details</button>
            <button class="btn btn-warning">Buy Now</button>
        </div>

    </div>
    </div>
</ng-container>

    <!-- <ng-template #productDetails *ngIf="showProductdetails">
        <app-product-details></app-product-details>
    </ng-template> -->
